{% extends 'base.html' %}
{% load staticfiles %}
{% block links %}
	
{% endblock %}
{% block content %}
	<h1 class="page-title"> Статистика матча</h1>
	<div class="row">
        <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
		
            <div class="portlet light portlet-fit bordered">
                    <div class="portlet-body">
					<form role="form" action="{% url 'stat_match' %}" method="post">
						<div class="form-group portlet-body form">
							{% csrf_token %}
							<div class="row">
								<div class="col-lg-2">
									<table cellspacing="10" cellpadding="5">
										{{form.as_table}}
									</table>
									{% for error in field.errors %}
										<p>{{ error }}</p>
									{% endfor %}
									<p>{{info}}</p>
								</div>
								<div class="col-lg-offset-1 col-lg-1">
								<button class="btn btn-primary" type="submit">Отчет</button>
								</div>
							</div>
							
						</div>
					</form>
					{% if goalkeepers_stat_home != '' %}
											           <div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-green"></i>
            <span class="caption-subject font-green sbold uppercase">Вратари команды хозяев</span>
        </div>
        <div class="actions">
           
            <div class="btn-group">
                <a class="btn red btn-outline btn-circle" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-share"></i>
                    <span class="hidden-xs"> Экспорт отчета </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right" id="sample_3_tools">
                    <li>
                        <a href="javascript:;" data-action="0" class="tool-action">
                            <i class="icon-printer"></i> Печать</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-action="1" class="tool-action">
                            <i class="icon-check"></i> Копировать</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-action="2" class="tool-action">
                            <i class="icon-doc"></i> PDF</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-action="3" class="tool-action">
                            <i class="icon-paper-clip"></i> Excel</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-action="4" class="tool-action">
                            <i class="icon-cloud-upload"></i> CSV</a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="javascript:;" data-action="5" class="tool-action">
                            <i class="icon-refresh"></i> Перезагрузить</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
							<div class="portlet-body">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th> ФИО </th>
												<th> Др+ </th>
												<th> Др- </th>
												<th> Ошибки </th>
												<th> Сейвы </th>
												<th> Пропущенные </th>
												<th> Удары по воротам </th>
												<th> Процент отбитых </th>
											</tr>
										</thead>
										<tbody>
											{% for row in goalkeepers_stat_home %}
											<tr>
												<td> {{row.goalkeeper_id}} </td>
												<td> {{row.dr_plus}} </td>
												<td> {{row.dr_minus}} </td>
												<td> {{row.errors}} </td>
												<td> {{row.saves}} </td>
												<td> {{row.missed_goals}} </td>
												<td> {{row.shots_on_target}} </td>
												<td> {{row.beaten_percentage}} </td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					{% endif %}
					{% if goalkeepers_stat_guest != '' %}
					                                       <div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-green"></i>
            <span class="caption-subject font-green sbold uppercase">Вратари команды гостей</span>
        </div>
        <div class="actions">
           
            <div class="btn-group">
                <a class="btn red btn-outline btn-circle" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-share"></i>
                    <span class="hidden-xs"> Экспорт отчета </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right" id="sample_4_tools">
                    <li>
                        <a href="javascript:;" data-action="0" class="tool-action">
                            <i class="icon-printer"></i> Печать</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-action="1" class="tool-action">
                            <i class="icon-check"></i> Копировать</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-action="2" class="tool-action">
                            <i class="icon-doc"></i> PDF</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-action="3" class="tool-action">
                            <i class="icon-paper-clip"></i> Excel</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-action="4" class="tool-action">
                            <i class="icon-cloud-upload"></i> CSV</a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="javascript:;" data-action="5" class="tool-action">
                            <i class="icon-refresh"></i> Перезагрузить</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
							<div class="portlet-body">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th> ФИО </th>
												<th> Др+ </th>
												<th> Др- </th>
												<th> Ошибки </th>
												<th> Сейвы </th>
												<th> Пропущенные </th>
												<th> Удары по воротам </th>
												<th> Процент отбитых </th>
											</tr>
										</thead>
										<tbody>
											{% for row in goalkeepers_stat_guest %}
											<tr>
												<td> {{row.goalkeeper_id}} </td>
												<td> {{row.dr_plus}} </td>
												<td> {{row.dr_minus}} </td>
												<td> {{row.errors}} </td>
												<td> {{row.saves}} </td>
												<td> {{row.missed_goals}} </td>
												<td> {{row.shots_on_target}} </td>
												<td> {{row.beaten_percentage}} </td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					{% endif %}
                    <!--<div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs"></i>Полевые игроки </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th> ФИО </th>
                                            <th> Амплуа </th>
                                            <th> Голы </th>
                                            <th> Передачи </th>
                                            <th> Гол + Пас </th>
                                            <th> ЖК </th>
											<th> КК </th>
											<th> Игры </th>
											<th> Минуты </th>
											<th> Мин/Голы </th>
                                        </tr>
                                    </thead>
                                    <tbody>
										{% for row in players %}
                                        <tr>
                                            <td> {{row.name}} </td>
                                            <td> {{row.position}} </td>
                                            <td> {{row.goals}} </td>
                                            <td> {{row.passes}} </td>
                                            <td> {{row.goal_pass}} </td>
                                            <td> {{row.yellow_cards}} </td>
											<td> {{row.red_cards}} </td>
											<td> {{row.games}} </td>
											<td> {{row.mins}} </td>
											<td> {{row.min_goal}} </td>
                                        </tr>
										{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
{% endblock %}
{% block scripts %}
	<script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery.blockui.min.js" type="text/javascript' %}"></script>
    <script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="{% static 'assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'assets/custom/scripts/teams_table.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
{% endblock %}